@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #13131A;
  --color-foreground: #FFFFFF;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-card: #1C1C24;
  --color-card-foreground: #FFFFFF;
  --color-popover: #1C1C24;
  --color-popover-foreground: #FFFFFF;
  --color-primary: #FF6B4A;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #2C2C35;
  --color-secondary-foreground: #FFFFFF;
  --color-muted: #2C2C35;
  --color-muted-foreground: #9090A4;
  --color-accent: #FF6B4A;
  --color-accent-foreground: #FFFFFF;
  --color-destructive: #EF4444;
  --color-destructive-foreground: #FFFFFF;
  --color-border: #2C2C35;
  --color-input: #2C2C35;
  --color-ring: #FF6B4A;

  --color-sidebar-ring: #FF6B4A;
  --color-sidebar-border: #2C2C35;
  --color-sidebar-accent-foreground: #FFFFFF;
  --color-sidebar-accent: #2C2C35;
  --color-sidebar-primary-foreground: #FFFFFF;
  --color-sidebar-primary: #FF6B4A;
  --color-sidebar-foreground: #FFFFFF;
  --color-sidebar: #1C1C24;

  --color-chart-5: #FF6B4A;
  --color-chart-4: #2C2C35;
  --color-chart-3: #9090A4;
  --color-chart-2: #1C1C24;
  --color-chart-1: #13131A;

  --radius-sm: calc(0.75rem * 0.6);
  --radius-md: calc(0.75rem * 0.8);
  --radius-lg: 0.75rem;
  --radius-xl: calc(0.75rem * 1.4);
  --radius-2xl: calc(0.75rem * 1.8);
  --radius-3xl: calc(0.75rem * 2.2);
  --radius-4xl: calc(0.75rem * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}